---
interface SocialLink {
    href: string;
    src: string;
    alt: string;
}

import youtube from "../../public/assets/common/footer/youtube.svg?raw";
import facebook from "../../public/assets/common/footer/facebook.svg?raw";
import x from "../../public/assets/common/footer/x.svg?raw";
import instagram from "../../public/assets/common/footer/instagram.svg?raw";
import pinterest from "../../public/assets/common/footer/pinterest.svg?raw";

import FooterLinks from "./FooterLinks.astro";

const fMb = 2;
const fFontSize = "text-xs";
---

<footer class="relative pt-20 bg-black text-custom-grey-400 w-full text-center">
    {FooterLinks && <div class="py-16 border-t border-zinc-900 ">
        <FooterLinks />

    </div>}
    <div class="border-t border-zinc-900 h-1 mb-8"></div>
    <div
        class={` 
        flex 
        justify-center 
        items-center 
        space-x-4 
        text-custom-grey-400
        `}
            >
        <a
            href="https://www.youtube.com/@pixodesk"
            target="_blank"
            rel="noopener noreferrer"
            class="
            transform
            hover:scale-110
            hover:text-white
            transition-transform
            "
        >
            <div class="" set:html={youtube} />
        </a>

        <a
            href="https://www.facebook.com/pixodesk"
            target="_blank"
            rel="noopener noreferrer"
            class="transition-transform
            transform
            hover:scale-110
            hover:text-white"
        >
            <div class="" set:html={facebook} />
        </a>

        <a
            href="https://x.com/pixodesk"
            target="_blank"
            rel="noopener noreferrer"
            class="transition-transform
            transform
            hover:scale-110
            hover:text-white"
        >
            <div class="" set:html={x} />
        </a>

        <a
            href="https://www.instagram.com/pixodesk_animator/"
            target="_blank"
            rel="noopener noreferrer"
            class="transition-transform
            transform
            hover:scale-110
            hover:text-white"
        >
            <div class="" set:html={instagram} />
        </a>

        <a
            href="https://www.pinterest.co.uk/pixodesk/"
            target="_blank"
            rel="noopener noreferrer"
            class="transition-transform
            transform
            hover:scale-110
            hover:text-white"
        >
            <div class="" set:html={pinterest} />
        </a>
    </div>

    <div class="relative inline-block text-center px-16 py-8">
        <div class={`relative mb-${fMb} ${fFontSize} text-white`}>
            &copy; Pixodesk LIMITED
        </div>

        <div class={`relative mb-${fMb} ${fFontSize}`}>
            79 College Road, London, HA1 1BD, United Kingdom
        </div>
        <div class={`${fFontSize}
            hover:text-white
            transition-color
            duration-300
            `}>
            support@pixodesk.com
        </div>
    </div>

    <div
        class={`policy relative flex justify-center items-center bg-black text-custom-grey-400 uppercase ${fFontSize} mb-0`}
    >
        <div class={`${fFontSize} 
            hover:text-white
            transition-color
            duration-300`}
            >
            <a href="/eula">Terms of Use</a>
        </div>
        <div class="px-2">|</div>
        <div class={`${fFontSize} 
            hover:text-white
            transition-color
            duration-300`}
            >
            <a href="/privacy-policy">Privacy Policy</a>
        </div>
    </div>
</footer>
