---
import type { Item } from "../types/types";
import { marked } from "marked";

import TextListCheck from "./TextListCheck.astro";

interface Props {
    titleColor?: string;
    subTitleColor?: string;

    items?: Item[];

    imageClass: string;
    textClass: string;

    shadowColor?: string;
    iconColor?: string;
    checkIcon?: boolean;
}

const {
    titleColor,
    subTitleColor,

    items,

    imageClass,
    textClass,

    shadowColor,
    iconColor,
    checkIcon,
} = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-20 items-center">
    <div class={`${imageClass}`}>
        <slot />
    </div>

    <div class={`${textClass}`}>
        <TextListCheck
            titleColor={titleColor}
            subTitleColor={subTitleColor}
            iconColor={iconColor}
            items={items || []}
            checkIcon={checkIcon}
            shadowColor={shadowColor}
        />
    </div>
</div>
