---
import { marked } from "marked";
import type { PriceForApp } from "../types/types";

interface Props {
  pricingCardInfo: PriceForApp;
}
const { pricingCardInfo } = Astro.props;
import download from "../../public/assets/common/icons/download-24x24.svg?raw";
---


<div class="
  flex flex-col items-center justify-between 
  h-full 
  text-left 
  mb-6
  
">
   
  <div class="flex flex-col items-start justify-start mb-4 text-base-bright">
    
    
    <div class="flex items-center mb-8">
      
      <div class="
        w-14 h-14 
        mr-2 
        bg-[#ffffff11] 
        border 
        border-[#ffffff11] 
        p-2 
        rounded-md
        flex justify-center items-center
       
        ">
        <slot />
      </div>
        
      <div class="title">
      {
        pricingCardInfo.title ? (
          <div
            class="font-bold"
            set:html={marked.parseInline(pricingCardInfo.title)}
          />
        ) : null
      }
      </div>
    </div>

    {
      pricingCardInfo.platform ? (
        <div
          class="mb-6 text-custom-grey-400 text-xs"
          set:html={marked.parseInline(pricingCardInfo.platform)}
        />
      ) : null
    }
    <div class="divider w-full mb-6 h-[1px] bg-white/10" />
    {
      pricingCardInfo.price ? (
        <h3
          class={`mb-0 price font-bold text-2xl `}
          set:html={marked.parseInline(pricingCardInfo.price)}
        />
      ) : null
    }
    
    {
      pricingCardInfo.paymentMethod ? (
        <div
          class="uppercase mb-6 text-xs font-bold text-custom-grey-200"
          set:html={marked.parseInline(pricingCardInfo.paymentMethod)}
        />
      ) : null
    }
    

    {
      pricingCardInfo.appDescription ? (
        <div
          class="mb-6 text-sm text-custom-grey-400"
          set:html={marked.parseInline(pricingCardInfo.appDescription)}
        />
      ) : null
    }


    {
      pricingCardInfo.otherPaymentMethod ? (
          <div class="divider w-full mb-6 h-[1px] bg-white/10" />
          <div
            class="mb-6 text-sm text-custom-grey-400"
            set:html={marked.parseInline(pricingCardInfo.otherPaymentMethod)}
          />
        
    ) : null
    }
  </div>



  <!-- Buttons -->
    {pricingCardInfo.button && (
        <div class="flex justify-center items-center w-full">
          
          <a class=`
            button
            w-full 
            flex 
            justify-center 
            items-center
            ${pricingCardInfo.icon === "svg" ? "bg-[#5c4be6]" : "" }
            ${pricingCardInfo.icon === "svg" ? "hover:bg-[#4e3fc1]" : "" }
            ${pricingCardInfo.icon === "2d" ? "bg-[#5c4be6]" : ""}
            ${pricingCardInfo.icon === "2d" ? "hover:bg-[#4e3fc1]" : "" }
            ${pricingCardInfo.icon === "svga" ? "bg-gray-800" : ""}
            ${pricingCardInfo.icon === "svga" ? "hover:bg-gray-800" : "" }
            px-4 py-2
            rounded-md 
            shadow-md 
            w-full
            transition-all duration-300 
            hover:shadow-sm
            `
            href={pricingCardInfo.button.link}
            >
            <div class=` text-white text-sm`
                set:html={marked.parseInline(pricingCardInfo.button.title)}
            />
            <div class="" set:html={download} />
          </a>
        
        </div>
      )}
</div>
